<!-- showcase widget -->

{{ $ := .root }}
{{ $page := .page }}

<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $page.Params.title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $page.Params.subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-multiline is-centered">
        {{- range $tile := $page.Params.tile }}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/%s" .icon | relURL }}">
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>

            {{ with .button }}
            <div class="card-action">
              {{ if .modal }}
              {{ $target := printf "data-%s" (or .target $tile.identifier) }}
              <button id="btn-{{ $tile.identifier }}" class="button modal-button btn-align-md accent-btn raised" data-target="{{ $target }}" aria-haspopup="true">
                {{ .text }}
              </button>
              {{ else }}
              <a id="btn-{{ $tile.identifier }}" class="button btn-align-md accent-btn raised" href="{{ .link }}">
                {{ .text }}
              </a>
              {{ end }}
            </div>
            {{ end }}

          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>

{{/* Modals */}}
{{- range $tile := $page.Params.tile }}
  {{ with .button }}
  {{ $target := (or .target $tile.identifier) }}
  {{ $params := dict "root" $ "page" $page "tile" $tile "target" $target }}
  {{ if .modal }}{{ partial "modal-card.html" $params }}{{ end }}
  {{ end }}
{{- end }}
