<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}

    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .IsHome }}
      {{ .Scratch.Set "section" "home" }}
    {{ else }}
      {{ .Scratch.Set "section" .Section }}
    {{ end }}

    <!-- Current section -->
    {{ $section := .Scratch.Get "section" }}

    <!-- Active widgets in the current section-->
    {{ range $index, $page := where (where .Data.Pages "Section" $section) ".Params.active" "!=" false }}
    {{ $params := dict "root" $ "page" $page }}
    {{ $widget := printf "widgets/%s.html" ( or $page.Params.widget "custom" ) }}
    {{ if in (slice "hero" "hero_carousel") $page.Params.widget }}
    {{ partial $widget $params }}
    {{ else }}
    <section id="{{ $page.File.TranslationBaseName }}" class="home-section">
      {{ partial $widget $params }}
    </section>
    {{ end }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}

    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>
