{{- $sidebar  := .Site.Menus.sidebar }}
{{- $logo     := .Site.Params.sidebar.logo }}

<div class="sidebar">
  <div class="sidebar-header">
    <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
    <a class="sidebar-close" href="javascript:void(0);">
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="inner">
    <ul class="sidebar-menu">
      {{- range .Site.Menus.sidebar }}
      <li class="have-children">
        <a href="#">
          <span class="fa fa-<icon>"></span>
          {{ .Title }}
        </a>
        <ul>
          {{- range .Children }}
          <li>
            <a href="{{ .URL }}">
              {{ .Title }}
            </a>
          </li>
          {{- end }}
        </ul>
      </li>
      {{- end }}
    </ul>
  </div>
</div>
